*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 4px;
}
.item{
    background-color: blue;
    color: white;
    text-align: center;
}