*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 4px;
}
.item{
    background-color: blue;
    color: white;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns:repeat(9,2fr);
    grid-template-rows: 2fr 6fr;
    grid-auto-rows: 8fr;
    grid-gap: 1rem;
}
.box{
    background-color: aqua;
}