.con{
    color: red;
}
#nav>li:nth-child(3){
    color: purple;
}
#lk>li{
    list-style: none;
}

#btnn{
    padding: 10px 10px;
    color: white;
    background-color: black;
}
#color{
    padding: 10px 10px;
    color: white;
    background-color: black;
}