@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:white;
    background-image: url(2109.jpg);
    background-size: cover;
    background-position: center center;
}
#p{
    color:black;
    padding: 14px;
    background-color:lawngreen;
    border: 2px solid white;
}
/* pbody commenting is css*/
#p:hover{
    transition:ease-in;
    border-radius: 20vh;
    animation-timing-function: ease-in-out;
    background-color:yellow;
}
/* 
.container{

}
.container,.bg{
    
} */
#op{
    font-size: 46px; /*1/96th of an inch*/
    font-family:'Fuggles';
    line-height: 2.8em;
   
}
span{
    font-family: cursive;
    font-weight: bold;
    color: red;
    font-style: italic;
}
#first{
    color: royalblue;
    background-color: blanchedalmond;
}
#second{
    color: rgb(224, 149, 211);
    background-color: teal;
}
#three{
    color: #60D040;
    background-color: chocolate;
}
#ui{
    margin: 20px 20px;
    background-color: blue;
    color: white;
    /* border-width: 6px;
    border-color: red;
    border-style: dashed; */
    border: 6px dashed red;
    border-radius: 6px;
    width: 369px;
    height: 30px;
}
#ui2{
    margin: 20px 20px;
    background-color: rgb(224, 149, 211);
    color: black;
    width: 369px;
    height: 30px;
    border-top: 9px solid purple;
    border-bottom: 14px solid green;
    border-left: 9px dashed red;
    border-right: 8px dotted blue;
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 2px;
}
#ui3{
    margin: 20px 20px;
    width: 700px;
    height: 500px;
    background-image: url(2109.jpg);
    color: white;
    border: 6px solid red;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center right; /*cud use px too*/
    background-size:100px 200px;
}
.con{
    font-weight: bold;
    font-size: medium;
    color: rgb(255,23,34);
    background-color: rgb(253, 173, 240);
    border: 6px solid rgb(100, 47, 100);
    /* padding: 89px;
    margin: 55px; */
    /* padding: 20px 20px 20px 20px; /*top right bottom left */
    /* margin :60px 0px 20px 69px; */
    /* padding: y(top/bottom),x(right/left); */
    padding: 50px 50px;
    margin-top: 100px;
    margin-left: 900px;
    margin-bottom: 100px;
    width:1000px;
    border-radius: 40px;
    box-sizing: border-box;
}