@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    font-family:  'Roboto Mono', monospace;
}

.navbar{
    position: sticky;
    top: 1px;
    
    margin: auto;
    width: 33%;
    text-align: center;
    height: 67px;
    background-color: rgb(57, 56, 56);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgb(57, 56, 56);
    margin: auto;
    padding: 20px 10px;
}
.navbar a{
    text-decoration: none;
    padding: 20px 10px;
    margin: 10px 20px;
    color: white;
    font-size: 20px;
}
.navbar a:hover{
    background-color: rgb(83, 81, 81);
    border-radius: 20px;
    text-decoration: underline;
}
img{
    border-radius: 20px;
    cursor: pointer;
    width: 66px;
    height: 67px;
    float: left;
    margin-left: 2px;
}
.con{
    display: block;
    position: absolute;
    padding: 10px 20px;
}
.chat{
    position: fixed;
    display: inline;
    right: 0px;
    bottom: 12px;
    width: 60px;
}
.ch{
    border: none;
    width: 60px;
    padding: 10px 10px;
    border-radius: 90px;
    background-color:rgb(83, 81, 81);
    color: white;
    cursor: pointer;
    
}
.ch:hover{
    background-color: #ddd;
    color:black;
}
form{
    padding:70px 20px;
    border: 2px solid red;
    width: 60%;
    margin:90px auto;
    text-align: center;

}
label{
    width: 60px;
    font-size:30px;
    font-weight: bold;
    padding:20px 0px;
    padding-right: 80px;
    margin: 20px auto;
    color:rgb(57, 56, 56);
}
input{
    width: 33%;
    padding:0px 20px;
    margin:20px 40px;
    text-align: center;
}
input[type=email]{
    margin-right: 50px;
}