@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Zen Loop', cursive;
    background-color: rgb(247, 164, 247);
}
#demo{
    text-align: center;
}   
.container{
    border-radius: 30px;
    margin-left: 40px;
    margin-top:40px ;
    margin-bottom: 40px;
    border:4px solid purple;
    padding: 20px 40px;
    float:left;
    width: 400px;
} 
.item{
    border-radius:20px;
    font-weight: bold;
    font-size: 20px;
    border:1px solid purple;
    padding: 20px 40px;
    margin: 20px 20px;
    text-align: justify;
}
#first{
    padding:10px 20px;
}
#second{
    padding:10px 20px;
}
#third{
    padding:10px 20px;
}
.container2{
    margin-right: 40px;
    border-radius: 30px;
    margin-left: 40px;
    margin-top:40px ;
    margin-bottom: 40px;
    border:4px solid purple;
    padding: 20px 40px;
    float:right;
    width: 400px;
}
.container3{
    border-radius: 30px;
    border:4px solid purple;
    padding: 20px 40px;
    margin: 40px auto;
    width: 400px;
}
.navb{
    margin: auto;
    padding:10px 20px;
}
.navb ul{
    margin: 10px 20px;
    overflow: auto;
}
.navb li{
    padding:10px 10px;
    list-style: none;
    float: left;
}
.navb ul li a{
    padding:10px 60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.navb ul li a:hover{
    color:white;
    border-radius: 30px;
    background-color: purple;
    transition: ease-in 0.5s;
}
.active{
    color:white;
    border-radius:  30px;
    background-color:purple;
}
.drop{
    position: relative;
    display: inline-block;
}
.drop .con{
    position: absolute;
    display: none;
}
.con a{
    text-decoration: none;
    display: block;
}
.click:hover .drop .con{
    display: block;
}