*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.navbar::before{
    content: "";
    position: absolute;
    background: black;
    opacity: 0.7;
    height:90px;
    max-height: fit-content;
    z-index: -1;
    width: 100%;
}
.navbar ul li{
    list-style: none;
    padding: 10px 6px;
}
section{
    height: 50vh;
    text-align: center;
    padding: 0px 40px;
    z-index: 34;
}
section h1{
    font-size: 2.0rem;
    padding: 20px 20px;
    font-weight: bold;
}
section p{
    z-index: 34;
    padding: 0px 0px;
}
section button{
    z-index: 34;
    padding:0px 20px;
    margin: 0px 5px;
    border: 1px solid brown;
    background-color: white;
    cursor: pointer;
}
section::before{
    position: absolute;
    content: "";
    z-index: -1;
    left: 0px;
    background: url(bg.jpeg) no-repeat left center/cover;
    width: 100%;
    height: 50vh;
    max-height: fit-content;
}
.cards{
    z-index: -1;
    align-items: center;
    margin: 0px 0px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
.car{
    padding: 10px 5px;
    width: 350px;
    margin: 7px;
}

.car:hover{
    box-shadow: 0px 9px 16px 0px blue;
    transition: 0.5s ease-in-out;
}
.clients img{
    padding: 5px;
    width: 180px;
    height: 180px;
    cursor: pointer;
}
.our::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    background: url(bg2.jpg) no-repeat left center/cover;
    height: 190vh;
    max-height: fit-content;
    z-index: -1;
    opacity: 0.6;
}